@import '../../assets/sass';

.hero {
  width: 100%;
  height: 1080px;
  background-image: url('../../assets/img/beats.jpg');
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-size: 100%;
}
